

nav{
    background-color: #B39CD0;
    
  }

  span{
    text-transform: uppercase;
    color:white;
    font-family: 'Alfa Slab One', cursive;
  }

  button{
    background-color: #00C9A7;
  }

  h1{
    color: #4B4A54;
    font-family: 'Open Sans', sans-serif;
  }

  h2{
    color: #4B4A54;
    font-family: 'Open Sans', sans-serif;
  }
  h3{
    color: #4B4A54;
    font-family: 'Open Sans', sans-serif;
  }

  h4{
    color: #4B4A54;
    font-family: 'Open Sans', sans-serif;
  }
  h5{
    color: #4B4A54;
    font-family: 'Open Sans', sans-serif;
  }

